/* Admin */

.draggable a.tabledrag-handle .handle {
  background: url(/core/themes/stable/images/core/icons/787878/move.svg) no-repeat 6px 7px;
  height: 25px;
  margin: -0.2em 0.5em 0;
  padding: 0;
  width: 25px;
}

.admin-action .views-field-title {
  text-align: center;
}
  
.admin-action .views-field-field-icon .field-content {
  width: 75%;
  margin: auto;
}

/* Podcasts */
  
.podcast .views-field-field-date,
.podcast .views-field-field-speaker,
.podcast .views-field-field-passage {
}

audio {
  padding: 10px;
  width: 100%;
}

.block-views-blockpodcast-block-1 audio::-webkit-media-controls-panel{
  background-color: #FBFBFB;
}


/* Calendar/map */
  
#block-calendar iframe {
  height: calc(500px - 2rem);
}

#block-map iframe {
  height: 450px;
}

/* Homepage */

.welcome-banner-text {
  max-width: 100%;
}

.welcome-banner-text .carousel {
  height: 70vh;
}

.welcome-banner-text .carousel-inner {
  height: 100%;
  color: white;
}

.welcome-banner-text .carousel-inner h1,
.welcome-banner-text .carousel-inner h2,
.welcome-banner-text .carousel-inner h3,
.welcome-banner-text .carousel-inner h4,
.welcome-banner-text .carousel-inner p {
  color: white;
}

.main-header nav.navbar {
  z-index: 3;
}

.block-webform-block input,
.block-webform-block textarea {
  max-width: 100%;
}

.welcome-banner-text .row {
  margin: 0;
}